<!--@subject {{trans "Upcoming Product Reminder - One Week Notice"}} @-->
<!--@vars {
"var product_name":"Product Name",
"var customer_name":"Customer Name",
"var reminder_message":"Reminder Message",
"var reminder_date":"Reminder Date",
"var store.frontend_name":"Store Name"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "Hello %customer_name," customer_name=$customer_name}}</p>
<p>{{trans "This is an advance notice about your upcoming product reminder. In one week, on %reminder_date, you will receive a reminder about the following product:" reminder_date=$reminder_date}}</p>
<p><strong>{{var product_name}}</strong></p>
<p>{{var reminder_message}}</p>
<p>{{trans "You can visit the product by clicking the link below:"}}</p>

{{template config_path="design/email/footer_template"}} 